<h2>Top Jewelery</h2>
<div class="products-container">
  @for (product of products; track product.id) {
    @if (product.category === 'jewelery') {
      <div class="product">
        <img [src]="product.image" alt="{{ product.title }}" width="200" />
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <strong>Price: ${{ product.price }}</strong>
        <p>Rating: {{ product.rating.rate }} ({{ product.rating.count }} reviews)</p>
      </div>
    }
  }
</div>

<h2>All Products</h2>
<div class="products-container">
  @for (product of products; track product.id) {
    <div class="product">
      <img [src]="product.image" alt="{{ product.title }}" width="200" />
      <h3>{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <p>Category: {{ product.category }}</p>
      <strong>Price: ${{ product.price }}</strong>
      <p>Rating: {{ product.rating.rate }} ({{ product.rating.count }} reviews)</p>
    </div>
  }
</div>

